@use 'src/common';

// TODO definitely needs some polishing
.mobile-note {
  margin: 100px 0;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include common.tablet-specific {
    display: none;
  }

  @include common.desktop-specific {
    display: none;
  }
}

.write-your-blog {
  margin-top: 100px;
  display: none;

  @include common.phone-landscape-specific {
    display: none;
  }

  @include common.tablet-specific {
    display: flex;
  }

  @include common.desktop-specific {
    display: flex;
  }

  &-header {
    margin-bottom: 35px;
  }

  &-post-button {
    align-self: flex-end;
    margin-bottom: 20px;
  }
}

.quill-container {
  width: 90%;
  margin: 25px 0;

  button {
    min-width: unset;
  }
}

.blog {
  &-preview {
    width: 75%;

    &-title {
      align-self: flex-start;
      margin-bottom: 25px;
      margin-top: 25px;
      font-weight: bold;
      font-size: 24px;
    }

    &-titleimage {
      width: 100%;
    }

    &-remark {
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      color: #0f0f0f;
      font-weight: 300;
      padding-left: 15px;
    }

    &-text {
      width: 100%;
      max-width: 750px;

      @include common.desktop-specific {
        width: 75%;
      }
    }

    // Div only to make this selector more specific.
    div &-quill {
      width: 100%;
      max-width: unset;
    }

    &-image {
      width: 100%;
      height: auto;
      align-self: center;
      box-shadow: 0px 15px 60px #0067ff29;
    }

    .blog-title {
      width: 85%;
    }
  }
}

:global(.quill) {
  max-width: 725px;

  @include common.desktop-specific {
    width: 75%;
  }

  :global(.ql-container) {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 25px;
  }

  img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
}

.quill-container :global(.ql-container) {
  height: 500px;

  :global(.ql-editor) {
    overflow-y: scroll;
  }
}

.suggestions {
  width: 60%;
  align-items: stretch;
}

.ruler {
  background-color: gray;
  width: 90%;
  height: 1px;
  margin-bottom: 25px;
}

.blur {
  filter: blur(2px);
  overflow: hidden;
}
