@use '../../common';
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

.blog-overview {
  &-header {
    margin-bottom: 50px;
  }

  &-section-header {
    font-weight: 900;
    font-size: 22px;
    color: common.$yesTheoryBlue;
    margin-bottom: 10px;
  }

  &-remark {
    font-size: 14px;
    color: #0f0f0f;
  }

  &-articles {
    width: 75%;
  }
}

.featured {
  &-article {
    align-items: flex-start;
    margin-bottom: 100px;

    &-blog {
      width: 100%;

      @include common.desktop-specific {
        flex-direction: row;
      }
    }

    &-row {
      min-height: 430px;
    }
  }

  &-image {
    border-radius: 20px;
    box-shadow: 15px 15px 60px #0067ff40;
    object-fit: cover;
    height: 100%;
    width: 100%;

    &-container {
      width: 50%;
    }
    flex: 1;

    img {
      width: 100%;
      height: auto;
      box-shadow: 15px 15px 60px #0067ff40;
    }
  }

  &-text-content {
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 50px;
    width: 50%;
    min-height: 400px;

    @include common.phone-landscape-specific {
      min-height: 300px;
    }

    @include common.tablet-specific {
      min-height: 300px;
    }

    @include common.desktop-specific {
      margin-left: 10%;
      margin-right: 3%;
    }

    .button {
      max-width: 260px;
    }
  }

  &-title {
    font-size: 36px;
    color: common.$yesTheoryBlue;
    font-weight: 900;
  }

  &-summary {
    font-size: 16px;

    @include common.phone-landscape-specific {
      width: 82%;
    }

    @include common.tablet-specific {
      width: 82%;
    }

    @include common.desktop-specific {
      width: 82%;
    }
  }
}

.other-article {
  &-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    column-gap: 3.5%;

    margin-bottom: 50px;

    @include common.phone-landscape-specific {
      grid-template-columns: repeat(2, 1fr);
    }

    @include common.tablet-specific {
      grid-template-columns: repeat(2, 1fr);
    }

    @include common.desktop-specific {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-tile {
    height: 100%;
    justify-content: space-between;

    &-top {
      margin-bottom: 20px;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      margin-bottom: 20px;

      &-container {
        height: 260px;
      }
    }

    &-title {
      font-size: 25px;
      color: common.$yesTheoryBlue;
      font-weight: 500;
    }

    .clamp-lines::after {
      content: "";
      display: block;
      margin: 10px auto 0;
      border-bottom: 1px solid #707070;
      opacity: 0.24;
      height: 1px;
      width: 95%;
    }
  }
}
