@use '../../common';
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

.blog-overview {
  &-header {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  &-section-header {
    font-weight: 900;
    font-size: 22px;
    color: common.$yesTheoryBlue;
    padding-bottom: 10px;
  }

  &-remark {
    font-size: 14px;
    color: #0f0f0f;
  }

  &-articles {
    width: 75%;
  }
}

.featured {
  &-article {
    align-items: flex-start;
    padding-bottom: 100px;
  }

  &-image {
    flex: 1;
    border-radius: 20px;
    box-shadow: 15px 15px 60px #0067ff40;
  }

  &-text-content {
    flex: 1;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 50px;

    button {
      max-width: 260px;
    }
  }

  &-summary {
    width: 82%;
    font-size: 16px;
  }

  &-title {
    font-size: 36px;
    color: common.$yesTheoryBlue;
    font-weight: 900;
  }
}

.other-article {
  &-row {
    height: 475px;
    padding-bottom: 50px;
    justify-content: flex-start;
  }

  &-tile {
    height: 100%;
    width: 31%;
    justify-content: space-between;
    margin-right: 3.5%;
  
    &::after {
      content: "";
      border-bottom: 1px solid #707070;
      opacity: 0.24;
      height: 1px;
      width: 95%;
      align-self: center;
    }

    &-last {
      @extend .other-article-tile;
  
      margin-right: 0;
    }

    &-image {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }

    &-title {
      font-size: 25px;
      color: common.$yesTheoryBlue;
      font-weight: 500;
    }
  }
}
