@use '../../common';

.upload {
  &-modal {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;

    &-dropzone {
      // I might want to make this cleaner.
      // But for now this works to keep the box shadow away from the navbar
      // that would otherwise eat the shadow.
      position: relative;
      top: 30px;

      background: white;

      width: 70%;
      border-radius: 20px;
      box-shadow: 0 3px 60px #0067ff29;
    }
  }

  &-close-button {
    border-radius: 30px;
    height: 46px;
    width: 46px;
    border: 1px solid common.$yesTheoryBlue;
    align-self: flex-end;
    cursor: pointer;
    color: common.$yesTheoryBlue;

    margin-top: 20px;
    margin-inline-end: 20px;
    margin-bottom: 20px;

    @include common.tablet-specific {
      margin-top: 40px;
      margin-inline-end: 58px;
    }

    @include common.desktop-specific {
      margin-top: 40px;
      margin-inline-end: 58px;
    }
  }

  &-progress {
    width: 190px;
    height: 3px;

    &-bar {
      display: inline;
      animation: width 200ms;

      &.blue {
        background-color: common.$yesTheoryBlue;
      }

      &.gray {
        background-color: gray;
      }
    }
  }

  &-preview {
    justify-content: space-evenly;
    height: 100%;
  }

  &-fountain {
    height: 400px;
    width: 400px;
    justify-content: flex-end;

    &-yes {
      position: absolute;
      color: common.$yesTheoryBlue;
      font-weight: 900;
    }
  }

  &-input {
    &-rejected {
      color: red;
    }

    color: #2a2a2a;

    &-icon {
      height: 45px;
      width: 45px;
      opacity: 0.54;
      color: black;
      margin-bottom: 10px;
    }
  }

  &-header {
    display: none;
    color: #2a2a2a;
    opacity: 0.71;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 40px;

    @include common.tablet-specific {
      display: unset;
    }

    @include common.phone-landscape-specific {
      display: none;
    }

    @include common.desktop-specific {
      display: unset;
    }
  }

  &-dropzone {
    height: 100%;
    width: 80%;

    @include common.tablet-specific {
      width: 70%;
      height: 40vh;
    }

    @include common.phone-landscape-specific {
      width: 80%;
      height: 40vh;
    }

    @include common.desktop-specific {
      width: 70%;
      height: 40vh;
    }

    margin-bottom: 50px;
    border-radius: 20px;
    border-color: common.$yesTheoryBlue;
    border-style: dashed;
    overflow: unset;

    &-reject {
      border-color: red;
      background-color: #daa;
    }
  }
}
