@use '../../common';

.wip {
  justify-content: space-between;

  &-content {
    width: 90%;
    margin: 75px 0;

    min-height: 100vh;
    height: 100%;
    justify-content: space-evenly;

    font-size: 20px;

    @include common.tablet-specific {
      text-align: center;
    }

    @include common.desktop-specific {
      text-align: center;
    }

    &-paragraphs {
      min-height: 300px;
      justify-content: space-evenly;
    }
  }

  & img {
    max-height: 500px;
  }
}
