@use '../../common';

.meetup-details {
  margin-top: 150px;
  color: #474747c9;

  &-description {
    text-align: center;
    line-height: 25px;
    margin: 30px 0;
    width: 75%;

    @include common.tablet-specific {
      width: 50%;
    }

    @include common.desktop-specific {
      width: 33%;
    }
  }

  &-how-to-join {
    text-align: center;
    width: 80%;

    &-header {
      color: common.$yesTheoryBlue;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 56px;
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
      column-gap: 54px;

      margin-bottom: 70px;

      @include common.desktop-specific {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 70px;
      }
    }

    &-card {
      text-align: start;
      border-radius: 20px;
      box-shadow: 15px 15px 60px #0067ff29;
      padding: 19px 50px;

      color: #474747c9;
      font-size: 16px;
      line-height: 24px;

      max-width: 450px;

      &-header {
        color: common.$yesTheoryBlue;
        opacity: 0.79;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  &-more-information {
    width: 80%;
    justify-content: space-between;
    margin-bottom: 60px;

    @include common.desktop-specific {
      flex-direction: row;
    }

    &-image {
      width: 100%;
      margin-bottom: 60px;

      @include common.desktop-specific {
        width: unset;
        flex: 1;
        margin-bottom: unset;
      }

      & img {
        box-shadow: 15px 15px 60px #0067ff40;
        width: 100%;
      }
    }

    & .text-content {
      height: 120%;

      @include common.desktop-specific {
        height: unset;
        margin-inline-start: 50px;
        flex: 1;
      }
    }

    &-info-row {
      margin-bottom: 10px;
    }

    & .section-header {
      font-weight: bold;
      font-size: 24px;
      color: common.$yesTheoryBlue;
      margin-bottom: 20px;
    }
  }

  &-back-button {
    margin-bottom: 100px;
  }
}
