@use '../../common';
// For the big boi YES
@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");

.container {
  @extend .centered-content;

  width: 100vw;
  height: 100vh;
}

.clouds-mountain-yes-container {
  height: 100vh;

  .yes-background {
    z-index: -300;
    position: fixed;
    text-align: center;
    color: common.$yesTheoryBlue;
    font-size: 42vw;
    font-weight: 900;

    @include common.phone-landscape-specific {
      margin-top: 25px;
    }
  }

  .clouds-background {
    z-index: -200;
    position: absolute;
  }

  .mountain {
    z-index: -100;
    position: fixed;
    left: -200px;
    width: calc(100vw + 200px);

    background: {
      repeat: no-repeat;
      image: url("../../assets/piqsels.com-id-sqodj.png");
      position: left 25% bottom -15vh;
      size: 200% auto;
    }

    @include common.tablet-specific {
      background-position: left 25% bottom -5vh;
      background-size: 150% auto;
    }

    @include common.phone-landscape-specific {
      background-position: left 25% bottom -78vh;
      background-size: 150% auto;
    }

    @include common.desktop-specific {
      background-position: left 25% bottom -5vw;
      background-size: cover;
    }
  }

  .clouds-front {
    position: relative;
    width: 100vw;
    height: 100vh;

    .scroll-for-action {
      position: absolute;
      bottom: 10px;
    }
  }
}

.cloud {
  position: absolute;
  border-radius: 0;
}

.cloud-r {
  position: relative;
  border-radius: 0;
}

.big-front {
  bottom: -27vh;
  left: -90vw;

  @include common.tablet-specific {
    bottom: -65vh;
  }

  @include common.phone-landscape-specific {
    bottom: -25vh;
  }

  @include common.desktop-specific {
    bottom: -45vh;
    left: -30vw;
  }
}

.bot-front {
  bottom: 0;
  left: 0;
  width: 100%;
}

.big-back {
  width: 100%;
  bottom: 15%;
  left: -10%;

  @include common.tablet-specific {
    left: -35vw;
    bottom: -10vh;
  }

  @include common.phone-landscape-specific {
    left: -120vw;
    bottom: -200vh;
  }

  @include common.desktop-specific {
    left: -15vw;
    bottom: -15vh;
    width: 100vw;
  }
}

.home-entries {
  z-index: 0;
  width: 100%;
  background: white;
  justify-content: space-evenly;
}

.footer {
  z-index: 0;
}
