@use '../../common';
// For the big boi YES
@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");

.container {
  @extend .centered-content;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.yes-background {
  z-index: 100;
  position: fixed;
  text-align: center;
  color: common.$yesTheoryBlue;
  font-size: 42vw;
  font-weight: 900;

  @include common.phone-landscape-specific {
    margin-top: 25px;
  }
}

.clouds-background {
  z-index: 200;
  position: absolute;
}

.mountain {
  z-index: 300;
  position: fixed;
  left: -200px;
  width: calc(100vw + 200px);

  background: {
    repeat: no-repeat;
    image: url("../../assets/piqsels.com-id-sqodj.png");
    position-x: 25%;
    position-y: bottom -15vh;
    size: 200% auto;
  }
  
  @include common.tablet-specific {
    background-position-y: bottom -5vh;
    background-size: 150% auto;
  }
  
  @include common.phone-landscape-specific {
    background-position-y: bottom -78vh;
    background-size: 150% auto;
  }

  @include common.desktop-specific {
    background-position-y: bottom -5vw;
    background-size: cover;
  }
}

div.content {
  z-index: 400;
  position: absolute;
  height: unset;
}

.clouds-front {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.cloud {
  position: absolute;
  border-radius: 0;
}

.big-front {
  bottom: -90vh;
  left: -90vw;

  @include common.tablet-specific {
    bottom: -75vh;
  }

  @include common.phone-landscape-specific {
    bottom: -225vh;
  }

  @include common.desktop-specific {
    bottom: -310px;
    left: 120px;
    width: 90vw;
  }
}

.bot-front {
  bottom: 0;
  left: 0;
  width: 100%;
}

.big-back {
  left: -250vw;
  bottom: -95vh;
  
  @include common.tablet-specific {
    left: -100vw;
    bottom: -50vh;
  }

  @include common.phone-landscape-specific {
    left: -120vw;
    bottom: -200vh;
  }

  @include common.desktop-specific {
    left: -15vw;
    bottom: -15vh;
    width: 100vw;
  }
}

.container .scroll-for-more {
  position: absolute;
  width: 100vw;
  bottom: 20px;
  left: 0;
  color: common.$yesTheoryBlue;
  z-index: 500;
  font-size: 14px;
}

.expand-container {
  padding-top: 9px;
  height: 15px;
  width: 15px;
}

.home-entries {
  z-index: 0;
  width: 100%;
  background: white;
  justify-content: space-evenly;
}

.footer {
  z-index: 0;
}
