@use '../../common';

.discordAuth {
    padding: 1rem;
    max-width: 100%;
    height: 100vh;
    max-height: calc(100vh - 2rem);
    justify-content: center;

    background-color: common.$backgroundColor;
}
