@use 'src/common';
@use 'sass:color';

body {
  height: 100vh;
}

.groupchats {
  margin-top: 150px;
  height: 90vh;
  justify-content: flex-start;

  @include common.phone-landscape-specific {
    height: unset;
  }

  &-search {
    &-container {
      width: 75%;

      @include common.tablet-specific {
        width: 50%;
      }

      @include common.desktop-specific {
        width: 40%;
      }
    }
  }

  &-auto-suggest {
    margin-top: 50px;
    width: 100%;

    @include common.tablet-specific {
      max-height: 50%;
    }

    @include common.phone-landscape-specific {
      max-height: 500px;
      margin-bottom: 80px;
    }

    @include common.desktop-specific {
      max-height: 50%;
    }

    &-suggestions {
      margin-top: 40px;
      padding-right: 10px;
      overflow-y: auto;
      position: relative;

      height: 30%;
      width: 75%;

      @include common.tablet-specific {
        height: 80%;
        width: 50%;
      }

      @include common.desktop-specific {
        height: 80%;
        width: 40%;
      }

      &-header {
        color: common.$yesTheoryBlue;
        opacity: 0.76;
        font-size: 12px;
        line-height: 16px;
        margin-left: 5px;
      }

      &-entry {
        margin: 12px 5px;
        font-size: 16px;
        line-height: 21px;
        justify-content: space-between;

        @include common.desktop-specific {
          flex-direction: row;
        }

        &:hover {
          background-color: color.adjust(common.$yesTheoryBlue, $alpha: -0.9);
        }

        &-city {
          color: #0f0f0f;
          opacity: 0.44;
        }

        &:hover &-city {
          opacity: 0.8;
        }

        &-link {
          color: common.$yesTheoryBlue;
        }
      }
    }
  }
}
