@use '../../common';

a.discord-login {
  align-items: center;

  padding: 10px;
  border: none;
  background-color: common.$yesTheoryBlue;
  border-radius: 50px;

  color: white;
  max-width: 250px;
  font-size: 14px;
}

.discord-logo {
  height: 25px;
  width: 25px;
}
