@use 'src/common';

.hamburger-icon {
  @include common.tablet-specific {
    display: none;
  }

  @include common.desktop-specific {
    display: none;
  }
}

.side-drawer {
  background-color: common.$yesTheoryBlue;
  color: white;
  height: 100%;
  right: -100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: width 150ms ease-out;
  width: 100%;
  z-index: 1;

  &.open {
    box-shadow: 0 3px 60px common.$yesTheoryBlue;
  }

  & .avatar-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  & .logout {
    margin-top: 10px;
  }

  &-top {
    padding: 10px 20px;
    color: white;
    width: calc(100vw - 40px);
    justify-content: space-between;
    align-items: center;

    & svg {
      float: right;
      margin-left: 45px;
    }
  }

  &-links {
    margin-top: 36px;
    height: 60%;

    @include common.phone-landscape-specific {
      margin-top: 0;
    }

    & a.nav-bar-links-link {
      margin-bottom: 24px;
      margin-right: 0;
      text-decoration: none;
      font-size: 1rem;
    }
  }

  & .current {
    padding-top: unset;
    padding-bottom: unset;
    .nav-bar-links-link-title {
      padding-top: 11px;
      padding-bottom: 9px;
      border-bottom: white solid 1px;
    }
  }
}

.nav-bar {
  background-color: white;
  align-items: center;
  width: calc(100vw - 40px);

  padding: 10px 20px;
  justify-content: space-between;

  @include common.tablet-specific {
    align-items: baseline;
    width: 90%;
    padding: 25px 60px;
  }

  @include common.phone-landscape-specific {
    width: calc(100vw - 40px);
    padding: 10px 20px;
  }

  @include common.desktop-specific {
    align-items: baseline;
    width: 90%;
    padding: 25px 60px;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }

  .logout {
    color: common.$yesTheoryBlue;
  }

  &-links {
    display: none;

    align-items: center;
    font-size: 14px;
    justify-content: flex-end;

    @include common.tablet-specific {
      display: flex;
    }

    @include common.desktop-specific {
      display: flex;
    }

    &-link {
      align-items: center;
      margin-right: 20px;
    }

    &-newpill {
      padding: 0 5px;
      margin-left: 5px;
      color: white;

      border-radius: 10px;
      height: 14px;
      background-color: common.$notification;

      font-size: 10px;

      &.fraud {
        visibility: hidden;

        @include common.tablet-specific {
          display: none;
        }

        @include common.desktop-specific {
          display: none;
        }
      }
    }

    & .user-avatar {
      width: 50px;
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.avatar-container {
  margin-left: 4px;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;

  @include common.tablet-specific {
    flex-direction: row;
  }

  @include common.desktop-specific {
    flex-direction: row;
  }
}

.avatar-user {
  @include common.tablet-specific {
    display: none;
  }

  @include common.phone-landscape-specific {
    display: none;
  }

  @include common.desktop-specific {
    display: unset;
  }
}

.logout {
  margin-left: 20px;

  @include common.phone-landscape-specific {
    min-width: unset;
    margin-left: 10px;
    padding: 10px 35px;
  }
}

.circle-avatar {
  border-radius: 50%;
  margin-right: 16px;
}

.current {
  padding-top: 11px;
  padding-bottom: 9px;
  border-bottom: common.$yesTheoryBlue solid 2px;
}

a.unavailable {
  opacity: 0.5;

  &.current {
    padding: 0;
    border-bottom: none;
  }
}
