#nav-bar {
    align-items: baseline;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 40px 60px 50px;
}

#nav-bar-logo {
    flex: 1;
    font-size: 18px;
}

#nav-bar a {
    color: inherit;
    text-decoration: none;
}

#nav-links {
    align-items: baseline;
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-evenly;
}

.discord-login {
    padding: 10px;
    border: none;
    background-color: #7289DA;
    border-radius: 3px;
}
