@use '../../common';

.hamburger-icon {
  @include common.desktop-specific {
    display: none;
  }
}

.hamburger-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;
  background-color: common.$yesTheoryBlue;

  // justify-content: space-evenly;
  color: white;

  @include common.desktop-specific {
    display: none;
  }

  &-top {
    margin: 25px 50px;
    width: 85%;
    justify-content: space-between;
  }

  &-links {
    margin-top: 50px;
    height: 60%;
    justify-content: space-evenly;

    @include common.phone-landscape-specific {
      margin-top: 0;
    }
  }

  & .nav-bar-links-link {
    margin: 0;
  }

  & .current {
    border-bottom: solid 1px white;
  }
}

.nav-bar {
  background-color: white;
  align-items: center;
  width: calc(100vw - 40px);

  padding: 10px 20px;

  justify-content: space-between;

  @include common.desktop-specific {
    align-items: baseline;
    width: 90%;
    padding: 25px 60px;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }

  &-links {
    display: none;

    align-items: center;
    font-size: 14px;
    justify-content: space-evenly;

    @include common.desktop-specific {
      display: flex;
    }

    &-link {
      margin-right: 4vw;
    }

    &-newpill {
      padding: 0 5px;
      margin-left: 5px;
      color: white;

      border-radius: 10px;
      height: 14px;
      background-color: common.$notification;

      font-size: 10px;
    }
  }

  & .discord-login {
    align-items: center;

    padding: 10px;
    border: none;
    background-color: common.$yesTheoryBlue;
    border-radius: 50px;

    color: white;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.discord-logo {
  height: 25px;
  width: 25px;
}

.avatar-container {
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.circle-avatar {
  border-radius: 50%;
  margin-right: 5px;
}

.current {
  padding-top: 11px;
  padding-bottom: 9px;
  border-bottom: common.$yesTheoryBlue solid 2px;
}
