@use '../../common';

.entry {
  height: 674px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;

  &-header {
    font-size: 64px;
    font-weight: bold;
  }

  & img {
    flex: 1;
  }

  &.row img {
    box-shadow: 15px 15px 60px #0054ff40;
  }

  &.row-reverse img {
    box-shadow: -15px 15px 60px #0054ff40;
  }

  &-text-content {
    height: 70%;
    margin-inline-start: 35px;
    flex: 1;
    justify-content: space-between;

    .button {
      max-width: 260px;
    }
  }

  &-summary {
    font-size: 16px;
    color: black;
    width: 70%;
  }
}
