@use '../../common';

.entry {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 50px 0;

  @include common.desktop-specific {
    // height: 674px;
    padding: 75px 0;
  }

  &-header {
    font-size: 32px;
    font-weight: bold;

    @include common.tablet-specific {
      font-size: 64px;
    }

    @include common.desktop-specific {
      font-size: 64px;
    }
  }

  & img {
    width: 100%;

    @include common.desktop-specific {
      flex: 1;
      width: unset;
    }
  }

  &.row img {
    box-shadow: 15px 15px 60px #0054ff40;
  }

  &.row-reverse img {
    box-shadow: -15px 15px 60px #0054ff40;
  }

  &-text-content {
    height: 70%;
    flex: 1;
    justify-content: space-between;
    margin-top: 30px;

    .button {
      max-width: 260px;
    }
    
    @include common.desktop-specific {
      margin-inline-start: 35px;
    }
  }

  &-summary {
    font-size: 16px;
    color: black;
    
    margin: 16px 0;

    @include common.desktop-specific {
      width: 70%;
    }
  }
}
