@use 'src/common';

.entry {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 50px 0;

  @include common.desktop-specific {
    margin: 75px 0;
  }

  &-header {
    font-size: 32px;
    font-weight: bold;

    @include common.tablet-specific {
      font-size: 64px;
    }

    @include common.desktop-specific {
      font-size: 64px;
    }
  }

  &-image-container {
    width: 100%;

    @include common.desktop-specific {
      flex: 1 1 0;
      width: unset;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &:global(.row) img {
    box-shadow: 15px 15px 60px #0054ff40;
  }

  &:global(.row-reverse) img {
    box-shadow: -15px 15px 60px #0054ff40;
  }

  &-text-content {
    flex: 1 1 0;
    justify-content: space-between;
    margin-top: 30px;

    :global(.button) {
      max-width: 260px;
    }

    @include common.desktop-specific {
      align-self: stretch;
      justify-content: space-evenly;
    }
  }

  @include common.desktop-specific {
    &:global(.row) &-text-content {
      margin-inline-start: 60px;
    }

    &:global(.row-reverse) &-text-content {
      margin-inline-end: 60px;
    }
  }

  &-summary {
    font-size: 16px;
    color: black;

    margin: 16px 0;

    @include common.desktop-specific {
      width: 70%;
    }
  }
}
