@use '../../common';

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  box-shadow: 0px -20px 60px #2b2b2b26;
  width: 100%;
  background-color: white;

  &-links {
    height: 100px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    // TODO: increase the width styling after the Contact+Press links have been added back in.
    @include common.tablet-specific {
      width: 30%;
      flex-direction: row;
    }

    @include common.desktop-specific {
      width: 20%;
      flex-direction: row;
    }
  }

  &-copyright {
    font-size: 12px;
  }
}
