@use '../../common';
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

.meetups {
  padding-top: 200px;

  &-search-container {
    width: 30%;
  }

  &-heading {
    padding-bottom: 190px;
  }

  &-list {
    width: 75%;
    padding-top: 135px;
  }

  &-row {
    height: 475px;
    padding-bottom: 50px;
    justify-content: flex-start;
  }

  &-tile {
    height: 100%;
    width: 31%;
    justify-content: space-between;
    margin-right: 3.5%;

    &-last {
      @extend .meetups-tile;
      margin-right: 0;
    }

    &-image {
      width: 100%;
      height: 55%; // Not ideal; "fixing" this will be done when this is restructured for mobile.

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      font-size: 25px;
      font-weight: 500;
      color: common.$yesTheoryBlue;
    }
  }

  &-no-content {
    height: 150px;
    color: #707070;
  }
}

.info-icon {
  padding-right: 5px;
}
 