@use 'src/common';
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

.meetups {
  margin-top: 50px;

  @include common.tablet-specific {
    margin-top: 150px;
  }

  @include common.desktop-specific {
    margin-top: 200px;
  }

  &-search-container {
    width: 75%;

    @include common.phone-landscape-specific {
      width: 50%;
    }

    @include common.tablet-specific {
      width: 50%;
    }

    @include common.desktop-specific {
      width: 40%;
    }
  }

  &-heading {
    margin-bottom: 100px;

    @include common.tablet-specific {
      margin-bottom: 160px;
    }

    @include common.tablet-specific {
      margin-bottom: 190px;
    }
  }

  &-grid {
    width: 75%;
    margin: 150px 0;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    row-gap: 75px;
    column-gap: 3.5%;

    @include common.phone-landscape-specific {
      grid-template-columns: repeat(2, 1fr);
    }

    @include common.tablet-specific {
      grid-template-columns: repeat(2, 1fr);
    }

    @include common.desktop-specific {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-tile {
    height: 110%;
    justify-content: space-between;

    &-image {
      width: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      font-size: 25px;
      font-weight: 500;
      color: common.$yesTheoryBlue;
    }

    &-info {
      &-row {
        margin-top: 10px;
      }
    }
  }

  &-no-content {
    height: 150px;
    color: #707070;
  }
}

.info-icon {
  margin-right: 5px;
  color: common.$yesTheoryBlue;
}
