@use '../../common';

.buddy-project {
  &-top {
    height: 100vh;
    justify-content: space-between;

    @include common.phone-landscape-specific {
      height: 100%;
    }

    & .scroll-for-more {
      width: 100vw;
      margin-bottom: 20px;
      color: common.$yesTheoryBlue;
      z-index: 500;
      font-size: 14px;

      @include common.phone-landscape-specific {
        position: static;
      }
    }
  }

  &-bottom {
    width: 100%;
    justify-content: flex-start;

    @include common.desktop-specific {
      padding-top: 50px;
      min-height: 100vh;
    }

    &-content {
      height: 100%;
      justify-content: space-evenly;
    }
  }

  &-process {
    width: 80%;
    margin-bottom: 50px;

    @include common.desktop-specific {
      min-height: 80%;
      justify-content: space-between;
    }

    &-blockone {
      @include common.desktop-specific {
        flex-direction: row;
      }

      & .buddy-project-process-welcome {
        @include common.desktop-specific {
          flex: 2;
        }
      }
    }

    &-yesbot {
      width: 100%;

      @include common.desktop-specific {
        flex: 1;
        width: unset;
      }

      & img {
        width: 100%;
        height: auto;
      }
    }

    &-welcome {
      align-items: center;
      margin: 25px 0;

      @include common.tablet-specific {
        align-items: flex-start;
      }

      @include common.desktop-specific {
        align-items: flex-start;
      }
    }

    &-header {
      color: #2a2a2a;
      font-weight: 900;
      font-size: 36px;
      margin-bottom: 15px;

      text-align: center;

      @include common.tablet-specific {
        font-size: 64px;
        text-align: unset;
      }

      @include common.desktop-specific {
        font-size: 6vw;
        text-align: unset;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: bold;
    }

    @include common.desktop-specific {
      &-introduction {
        width: 70%;
      }
    }

    &-steps {
      @include common.desktop-specific {
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-step {
      flex: 1;
      margin: 25px 0;
      justify-content: space-between;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @include common.desktop-specific {
        min-height: 150px;
        margin: 25px;
      }
    }

    & button {
      max-width: 260px;
    }
  }

  &-logo {
    width: 100%;
    max-width: 700px;
  }

  &-text {
    margin-top: 40px;
    max-width: 500px;
    font-size: 22px;
    text-align: center;
    color: #4d4d4d;
  }

  &-entry {
    margin-top: 40px;
    max-width: 400px;
    font-size: 38px;
  }

  &-list {
    width: 75%;
    padding-top: 173px;

    & .column,
    & .row {
      justify-content: space-between;
    }
  }

  &-signup {
    height: 100vh;
    margin-left: 1rem;
    margin-right: 1rem;

    header {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;

      > h3 {
        margin-right: 1rem;
      }

      > p {
        font-style: italic;
      }
    }

    * + * {
      margin-top: 1rem;
    }

    p {
      max-width: 30rem;
    }
  }
}

.self-center {
  align-self: center;
}
