@use 'common';

html {
  scrollbar-width: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar,
p::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  max-width: 780px;
}

#example {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border-radius: 20px;
}

.page-header {
  font-size: 10vw;
  font-weight: 900;
  text-align: center;
  color: #2a2a2a;
  width: 70%;
}

.inline-blue {
  display: inline;
  color: common.$yesTheoryBlue;
}

.link {
  @extend .inline-blue;
  text-decoration: solid underline common.$yesTheoryBlue;
  -webkit-text-decoration: solid underline common.$yesTheoryBlue;
}

.blue {
  color: common.$yesTheoryBlue;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;

  &-center {
    @extend .column;
    align-items: center;
  }
}

button,
.button {
  @extend .centered-content;

  padding: 10px 44px;

  background-color: white;
  border: common.$yesTheoryBlue 1px solid;
  border-radius: 30px;

  color: common.$yesTheoryBlue;
  font-size: 16px;

  @include common.tablet-specific {
    min-width: 175px;
    padding: 16px 40px;
  }

  @include common.desktop-specific {
    min-width: 175px;
    padding: 16px 40px;
  }

  text-decoration: none;
  cursor: pointer;
}

button.inverted,
.button.inverted {
  background-color: common.$yesTheoryBlue;
  color: white;
}

.button.inverted.disabled {
  background-color: gray;
  border: 1px solid gray;
}

/* Float Shadow */
.float-shadow {
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  vertical-align: middle;
}
.float-shadow:before {
  background: -webkit-radial-gradient(center, ellipse, common.$yesTheoryBlue -15%, rgba(0, 0, 0, 0) 72%);
  background: radial-gradient(ellipse at center, common.$yesTheoryBlue -15%, rgba(0, 0, 0, 0) 72%);
  content: "";
  height: 10px;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 90%;
  z-index: -1;
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.float-shadow:hover,
.float-shadow:focus,
.float-shadow:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  /* move the element up by 5px */
}
.float-shadow:hover:before,
.float-shadow:focus:before,
.float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
