@use 'common';

html {
  scrollbar-width: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar,
p::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  max-width: 780px;
}

#example {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border-radius: 20px;
}

.page-header {
  font-size: 10vw;
  font-weight: 900;
  text-align: center;
  color: #2a2a2a;
  width: 70%;
}

.inline-blue {
  display: inline;
  color: common.$yesTheoryBlue;
}

.blue {
  color: common.$yesTheoryBlue;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;

  &-center {
    @extend .column;
    align-items: center;
  }
}

button,
.button {
  @extend .centered-content;

  padding: 10px 44px;

  background-color: white;
  border: common.$yesTheoryBlue 1px solid;
  border-radius: 27px;

  color: common.$yesTheoryBlue;
  font-size: 16px;

  @include common.tablet-specific {
    padding: 16px 40px;
  }

  @include common.desktop-specific {
    padding: 16px 40px;
  }

  text-decoration: none;
  cursor: pointer;
}

button.inverted,
.button.inverted {
  background-color: common.$yesTheoryBlue;
  color: white;
}
