html {
    scrollbar-width: none;
}

body, p, div {
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar, p::-webkit-scrollbar, div::-webkit-scrollbar {
    display: none;
}

body {
    min-width: 100%;
    min-height: 100vh;
    height: 100%;
    max-width: 780px;
}

#example {
    height: 100%;
}
