@use '../../common';

.about-us {
  margin-top: 100px;
  width: 100%;

  &-top {
    width: 90%;
    min-height: 100vh;

    &-content {
      @include common.desktop-specific {
        flex-direction: row;
        align-items: unset;
      }
    }

    &-text {
      flex: 1;
      max-height: 66%;
      justify-content: space-evenly;
    }

    &-image {
      flex: 1;

      img {
        width: 100%;
      }
    }
  }

  &-header {
    color: #2a2a2a;
    display: inline;
    font-size: 36px;
    font-weight: 900;

    @include common.tablet-specific {
      font-size: 64px;
    }

    @include common.desktop-specific {
      font-size: 6vw;
    }
  }

  &-section {
    font-weight: bold;
    font-size: 24px;
  }

  &-intro {
    margin: 15px 0;
  }

  &-people {
    width: 90%;

    .about-us-header {
      align-self: center;

      @include common.desktop-specific {
        align-self: unset;
      }
    }

    .about-us-intro {
      @include common.tablet-specific {
        width: 75%;
      }

      @include common.desktop-specific {
        width: 50%;
      }
    }
  }

  & .scroll-for-more {
    width: 100vw;
    margin-bottom: 20px;
    color: common.$yesTheoryBlue;
    z-index: 500;
    font-size: 14px;
  }
}

.team-pics {
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.team-individual {
  height: 375px;
  max-width: 220px;
  padding: 5px;
  justify-content: space-between;
  margin-bottom: 15px;

  img {
    border-radius: 0;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    flex-basis: 100%;
    margin: 10px;
    max-height: 200px;
    border-radius: 10px;
  }

  &-info {
    text-align: center;
    margin-top: 10px;

    p.blue {
      font-weight: 900;
    }

    .title {
      margin: 7px 0;
    }
  }
}

.social-icons-set {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;

  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .sociali {
      font-size: 2em;
      line-height: 1.2em;
      margin-right: 10px;
      margin-bottom: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}
