@use '../../common';

.about-us {
  margin-top: 40px;
  width: 100%;

  @include common.phone-landscape-specific {
    margin-top: 100px;
  }

  @include common.phone-landscape-specific {
    margin-top: 40px;
  }

  @include common.desktop-specific {
    margin-top: unset;
  }

  &-top {
    justify-content: space-between;
    width: 90%;
    min-height: 100vh;

    &-content {
      @include common.desktop-specific {
        flex-direction: row;
        align-items: unset;
      }
    }

    &-text {
      margin-top: 40px;
      flex: 1;
      justify-content: flex-start;
    }

    &-image {
      flex: 1;

      img {
        width: 100%;
      }
    }
  }

  &-header {
    color: #2a2a2a;
    display: inline;
    font-size: 36px;
    font-weight: 900;

    @include common.tablet-specific {
      font-size: 64px;
    }

    @include common.desktop-specific {
      font-size: 6vw;
    }
  }

  &-section {
    font-weight: bold;
    font-size: 24px;
  }

  &-intro {
    width: 85%;
    margin: 15px 0;
  }

  &-people {
    width: 90%;

    .about-us-header {
      align-self: center;

      @include common.desktop-specific {
        align-self: unset;
      }
    }

    .about-us-intro {
      @include common.tablet-specific {
        width: 75%;
      }

      @include common.desktop-specific {
        width: 50%;
      }
    }
  }

  & .scroll-for-more {
    width: 100vw;
    margin-bottom: 20px;
    color: common.$yesTheoryBlue;
    z-index: 500;
    font-size: 14px;
  }
}

.team-pics {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: space-between;

  @include common.desktop-specific {
    column-gap: 25px;
  }
}

.team-individual {
  max-width: 220px;
  justify-content: space-between;
  margin-bottom: 30px;

  justify-self: center;

  @include common.tablet-specific {
    justify-self: unset;
  }

  @include common.desktop-specific {
    justify-self: unset;
  }

  img {
    border-radius: 0;
    border: none;
    flex-basis: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &-info {
    text-align: center;
    margin-top: 10px;

    p.blue {
      font-weight: 900;
    }

    .title {
      margin: 7px 0;
    }

    .quote {
      color: #2a2a2a;
      margin-bottom: 7px;
    }
  }
}

.social-icons-set {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;

  .sociali {
    font-size: 2em;
    line-height: 1.2em;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
    color: #7a7a7a;

    &:hover {
      color: common.$yesTheoryBlue;
    }
  }

  svg {
    filter: grayscale(1);
    transition: filter 100ms linear;

    &:hover {
      filter: unset;
    }
  }
}
