@use '../../common';

$barColor: lighten(common.$backgroundColor, 12);
$textColor: #cf33ff;

.comingSoon {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 100%;
    height: 100%;

    background-color: common.$backgroundColor;

    &--cool {
        margin: 2rem auto;
        background-color: transparent;
        background-image: url("https://cdn.discordapp.com/attachments/477136006361907210/655751431466385428/image0.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        height: 75vh;
        width: 90vw;

        // animation properties
        clip-path: polygon(50% 0%, 0 40%, 100% 100%, 25% 33%);
  
        animation: salmon 8s infinite;
    }
    @keyframes salmon {
        0% {
            clip-path: polygon(0 0, 0 0, 100% 100%, 100% 100%)
        }
        25% {
            clip-path: polygon(0 0, 100% 0, 0 100%, 100% 100%)
        }
        50% {
            clip-path: polygon(0 0, 0 100%, 100% 0, 100% 100%);
        }
        75% {
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        }
        100% {
            clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 0%);
        }
    }

    &--progress {
        margin: 1rem auto 0 auto; 
        width: 90%;
        max-width: 780px;

        > p {
            margin-top: 0.5rem;
        }
        
        &--container {
            height: 1rem;
            border: 1px solid $barColor;
            border-radius: 2px;
        }
        
        
        &--bar {
            background-color: $barColor;
            height: 100%;
            width: 65%;
            display: block;

            animation: progress--bar--go 20s;
            animation-timing-function: ease-in-out;
            
            @keyframes progress--bar--go {
                0% {
                    width: 0%;
                }

                10% {
                    width: 65%;
                }

                85% {
                    width: 65%;
                }

                95% {
                    width: 35%;
                }

                100% {
                    width: 65%;
                }
            }  
        }
    }

    &--text {
        color: #ff8133;
        font-size: 28px;

        animation: reveal-text 5s;
        animation-timing-function: ease-out;

        @keyframes reveal-text {
            0% {
                color: common.$backgroundColor;
            }
            
            85% {
                color: common.$backgroundColor;
            }

            100% {
                color: #ff8133;
            }
        }
    }
}
