@use '../../common';

:global(.photowall-layout-row) {
  display: grid;
  gap: 1vh;

  margin-bottom: 1vh;
}

.blur {
  filter: blur(2px);
  overflow: hidden;
}

.photo-wall {
  &-top {
    height: 100vh;
    justify-content: space-between;

    @include common.phone-landscape-specific {
      height: unset;
      margin-top: 90px;

      button {
        margin-bottom: 35px;
      }
    }

    &-content {
      height: 360px;
      justify-content: space-between;
    }

    &-text {
      width: 80%;
      text-align: center;

      @include common.tablet-specific {
        width: 60%;
      }

      @include common.desktop-specific {
        width: 40%;
      }
    }
  }

  &-list {
    width: 75%;
    margin-top: 173px;

    & .column,
    & .row {
      justify-content: space-between;
    }
  }
}
