@use '../../common';

.layout-row {
  display: grid;
  gap: 1vh;

  margin-bottom: 1vh;
}

.blur {
  filter: blur(2px);
  overflow: hidden;
}

.photo-wall {
  &-top {
    height: 100vh;
    justify-content: space-between;

    @include common.phone-landscape-specific {
      height: unset;
      margin-top: 90px;

      button {
        margin-bottom: 35px;
      }
    }

    & .scroll-for-more {
      width: 100vw;
      margin-bottom: 20px;
      color: common.$yesTheoryBlue;
      z-index: 500;
      font-size: 14px;
    }

    &-content {
      height: 360px;
      justify-content: space-between;
    }

    &-text {
      width: 80%;
      text-align: center;

      @include common.tablet-specific {
        width: 60%;
      }

      @include common.desktop-specific {
        width: 40%;
      }
    }
  }

  &-list {
    width: 75%;
    margin-top: 173px;

    & .column,
    & .row {
      justify-content: space-between;
    }
  }

  &-upload-modal {
    z-index: 1001;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;

    &-dropzone {
      background: white;
      border-radius: 20px;
      box-shadow: 0 3px 60px #0067ff29;

      width: 90%;

      @include common.phone-landscape-specific {
        width: 70%;
      }

      @include common.tablet-specific {
        width: 70%;
      }

      @include common.desktop-specific {
        width: 70%;
      }
    }
  }
}
